[submodule "Server"]
	path = Server
	url = https://github.com/anthonyashco/210517-Reston-Project-2-Adventure-Server.git
[submodule "Client"]
	path = Client
	url = https://github.com/anthonyashco/210517-Reston-Project-2-Adventure-Client.git
[submodule "E2E"]
	path = E2E
	url = https://github.com/anthonyashco/210517-Reston-Project-2-Adventure-E2E.git
